<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mixailsednev.storeproject"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:name=".ProductStoreApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
  >

    <activity
        android:name=".view.welcome.WelcomeActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar.Fullscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".view.MainActivity"
        android:label="@string/products"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".view.ProductDetailActivity"
        android:label="@string/title_product_detail"
        android:parentActivityName=".view.MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.MainActivity"/>
    </activity>

    <activity
        android:name=".view.messages.chat.ChatActivity"
        android:label="@string/chat"
        android:parentActivityName=".view.MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.MainActivity"/>
    </activity>

  </application>

</manifest>